body {
  background-color: #23212b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  padding: 0px;
  margin: 15px;
  color: #e0dded;
}

.button {
  background-color: #a497cc;
  font-size: 25px;
  margin: 5px;
  border-radius: 3px;
  width: 250px;
  transition: all 0.5s;
}

.button:hover {
  transform: scale(1.1);
}

#start-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #150d2e;
  border-radius: 15px;
  height: 225px;
  width: 400px;
  transition: all 0.25s;
}

#start-form:hover {
  transform: scale(1.1);
}

#result-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #150d2e;
  border-radius: 15px;
  height: 200px;
  min-width: 400px;
  transition: all 0.25s;
}

#result-form:hover {
  transform: scale(1.1);
}

#qizz-form {
  background-color: #150d2e;
  padding: 30px;
  border-radius: 15px;
  flex-flow: column nowrap;
  align-items: center;
  transition: all 0.5s;
}

#qizz-form:hover {
  transform: scale(1.1);
}

.answer-button {
  background-color: #a497cc;
  height: 50px;
  min-width: 50px;
  border-radius: 5px;
  border: 3px solid #0a0033;
  margin: 3px;
  transition: all 0.5s;
}

.answer-button:hover {
  transform: scale(1.25);
}

#result-form {
  flex-flow: column nowrap;
  align-items: center;
  background-color: #150d2e;
  border-radius: 5px;
  height: 200px;
  width: 400px;
}

.none {
  display: none !important;
}
